In [45]:
import pandas as pd
df =pd.read_csv('D:\work\GIT\Data-Vis-Final-Project\data\googleplaystore.csv')

In [37]:
df['Last Updated'].sort_values()

10472               1.0.19
424          April 1, 2016
3304         April 1, 2016
8901         April 1, 2016
9116         April 1, 2016
               ...
4246     September 8, 2017
6983     September 9, 2015
10393    September 9, 2016
9437     September 9, 2016
6834     September 9, 2017
Name: Last Updated, Length: 10841, dtype: object

In [4]:
df.groupby("Category").size().to_json('count.json')

In [38]:
df[['Rating','Price']]

       Rating Price
0         4.1     0
1         3.9     0
2         4.7     0
3         4.5     0
4         4.3     0
...       ...   ...
10836     4.5     0
10837     5.0     0
10838     NaN     0
10839     4.5     0
10840     4.5     0

[10841 rows x 2 columns]

DataClean
- Convert all app sizes to MB
- Remove '+' from 'Number of Installs' to make it numeric
- Convert all review text to English language using Google Translator library

In [46]:
import numpy as np
df.drop_duplicates(subset='App', inplace=True)
df = df[df['Android Ver'] != np.nan]
df = df[df['Android Ver'] != 'NaN']
df = df[df['Installs'] != 'Free']
df = df[df['Installs'] != 'Paid']
df = df[df['Rating'] != np.nan]
df= df.dropna()

In [48]:
# - Installs : Remove + and ,

df['Installs'] = df['Installs'].apply(lambda x: x.replace('+', '') if '+' in str(x) else x)
df['Installs'] = df['Installs'].apply(lambda x: x.replace(',', '') if ',' in str(x) else x)
df['Installs'] = df['Installs'].apply(lambda x: int(x))

In [49]:
df['Size'] = df['Size'].apply(lambda x: str(x).replace('Varies with device', 'NaN') if 'Varies with device' in str(x) else x)

df['Size'] = df['Size'].apply(lambda x: str(x).replace('M', '') if 'M' in str(x) else x)
df['Size'] = df['Size'].apply(lambda x: str(x).replace(',', '') if 'M' in str(x) else x)
df['Size'] = df['Size'].apply(lambda x: float(str(x).replace('k', '')) / 1000 if 'k' in str(x) else x)


df['Size'] = df['Size'].apply(lambda x: float(x))
df['Installs'] = df['Installs'].apply(lambda x: float(x))

df['Price'] = df['Price'].apply(lambda x: str(x).replace('$', '') if '$' in str(x) else str(x))
df['Price'] = df['Price'].apply(lambda x: float(x))

df['Reviews'] = df['Reviews'].apply(lambda x: int(x))
df['Rating'] = df['Rating'].apply(lambda x: float(x) if (x!=np.nan) else str(x))

In [9]:
Rat = df['Rating']
[ i for i in Rat if type(i)==str]

[]

In [11]:
df[(df['Type']!='Free')]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
234,TurboScan: scan documents and receipts in PDF,BUSINESS,4.7,11442,6.800,100000.0,Paid,4.99,Everyone,Business,"March 25, 2018",1.5.2,4.0 and up
235,Tiny Scanner Pro: PDF Doc Scan,BUSINESS,4.8,10295,39.000,100000.0,Paid,4.99,Everyone,Business,"April 11, 2017",3.4.6,3.0 and up
427,Puffin Browser Pro,COMMUNICATION,4.0,18247,NaN,100000.0,Paid,3.99,Everyone,Communication,"July 5, 2018",7.5.3.20547,4.1 and up
476,"Moco+ - Chat, Meet People",DATING,4.2,1545,NaN,10000.0,Paid,3.99,Mature 17+,Dating,"June 19, 2018",2.6.139,4.1 and up
477,Calculator,DATING,2.6,57,6.200,1000.0,Paid,6.99,Everyone,Dating,"October 25, 2017",1.1.6,4.0 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10690,FO Bixby,PERSONALIZATION,5.0,5,0.861,100.0,Paid,0.99,Everyone,Personalization,"April 25, 2018",0.2,7.0 and up
10697,Mu.F.O.,GAME,5.0,2,16.000,1.0,Paid,0.99,Everyone,Arcade,"March 3, 2017",1.0,2.3 and up
10760,Fast Tract Diet,HEALTH_AND_FITNESS,4.4,35,2.400,1000.0,Paid,7.99,Everyone,Health & Fitness,"August 8, 2018",1.9.3,4.2 and up
10782,Trine 2: Complete Story,GAME,3.8,252,11.000,10000.0,Paid,16.99,Teen,Action,"February 27, 2015",2.22,5.0 and up
10785,"sugar, sugar",FAMILY,4.2,1405,9.500,10000.0,Paid,1.20,Everyone,Puzzle,"June 5, 2018",2.7,2.3 and up

In [12]:
type(df[(df['Type']!='Free')]['Price'].to_list()[0])

float

In [13]:
type(df[(df['Type']!='Free')]['Rating'].to_list()[0])

float

In [50]:
groups_temp = df.groupby('Category').filter(lambda x :len(x)>300)

In [51]:
groups_temp

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1048,K PLUS,FINANCE,4.4,124424,NaN,10000000.0,Free,0.0,Everyone,Finance,"June 26, 2018",4.6.0,4.2 and up
1049,ING Banking,FINANCE,4.4,39041,NaN,1000000.0,Free,0.0,Everyone,Finance,"August 3, 2018",Varies with device,Varies with device
1050,Citibanamex Movil,FINANCE,3.6,52306,42.0,5000000.0,Free,0.0,Everyone,Finance,"July 27, 2018",20.1.0,5.0 and up
1051,The postal bank,FINANCE,3.7,36718,NaN,5000000.0,Free,0.0,Everyone,Finance,"July 16, 2018",Varies with device,Varies with device
1052,KTB Netbank,FINANCE,3.8,42644,19.0,5000000.0,Free,0.0,Everyone,Finance,"June 28, 2018",8.18,4.2 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10827,Fr Agnel Ambarnath,FAMILY,4.2,117,13.0,5000.0,Free,0.0,Everyone,Education,"June 13, 2018",2.0.20,4.0.3 and up
10834,FR Calculator,FAMILY,4.0,7,2.6,500.0,Free,0.0,Everyone,Education,"June 18, 2017",1.0.0,4.1 and up
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53.0,5000.0,Free,0.0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6,100.0,Free,0.0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19.0,10000000.0,Free,0.0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [55]:
groups_temp.Reviews=groups_temp.Reviews.apply(lambda x:x/1000)

In [56]:
groups_temp.to_csv('data_clean.csv')

In [53]:
tmp_cat=groups_temp.groupby("Category").size()

In [54]:
cat_count_df = tmp_cat.to_json('subcount.json')

In [24]:
cat_count_df

NameError: name 'cat_count_df' is not defined

In [18]:
df[(df['App']=='Fr. Mike Schmitz Audio Teachings')]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6,100.0,Free,0.0,Everyone,Education,"July 6, 2018",1.0,4.1 and up